* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
}
#About {
    min-width: 120%;
}

#About::before {
    content: "";
    background: url("/Images/Background/BgImg-2.png");
    opacity: 0.4;
    position: absolute;
    min-width: 120%;
    height: 100%;
    z-index: -1;
}
.about-container {
    display: flex;
    gap: 10rem;
}

.about-content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 64px;
    line-height: 160%;
    width: 90%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    opacity: 1;
}

.about-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.about-image-container img {
    width: 100%;
    border-radius: 8px;
    align-self: center;
}

/* @keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */
