#Contact {
    min-width: 100%;
}
#Contact::before {
    content: "";
    background: url("/Images/Background/BgImg.svg");
    rotate: 180deg;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-container {
    width: 100%;
    padding: 2.5rem;
}
.contact-content-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.contact-image-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.contact-image-row1-container,
.contact-image-row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-image-row1-container,
.contact-image-row2-container {
    gap: 8rem;
}

.contact-image-row1-container img {
    width: 56px;
}

.contact-image-row1-container img:hover {
    filter: invert(28%) sepia(84%) saturate(1514%) hue-rotate(189deg)
        brightness(94%) contrast(89%);
}

.contact-image-row2-container h1 {
    color: #1579d6;
    padding-bottom: 1em;
}
.contact-image-row2-container span {
    color: white;
    padding-bottom: 0.2em;
}

.contact-desc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-desc-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .contact-image-container {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 850px) {
    .contact-image-row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contact-image-row1-container img {
        width: 32px;
    }
}
