* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Sora", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
<<<<<<< HEAD
    background: #000;
=======
    background: #111;
>>>>>>> upstream/master
    overflow-x: hidden;
    overflow-y: hidden; 
}
<<<<<<< HEAD

=======
>>>>>>> upstream/master
.main-container {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.main-container section {
    height: auto;
    display: flex;
    height: 100vh;
}

/*ScrollBar*/

::-webkit-scrollbar {
    width: 11px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(19, 129, 230, 0.8);
}

.section {
    transition: all 300ms ease;
}
/* Titles */
.section-title {
    color: #fff;
    font-size: 96px;
    font-weight: 900;
    position: relative;
    opacity: 1;
}

.section-title::after {
    content: "";
    height: 8px;
    border-radius: 0px;
    width: 50%;
    /* background-color: #2483a1; */
    background: #65c3e9;
    position: absolute;
    bottom: 0;
    right: 0px;
    top: 1.2em;
}

/*Home Section*/

#Home {
    min-width: 100%;
<<<<<<< HEAD
=======
    /* z-index: -1; */
>>>>>>> upstream/master
}
#Home::before {
    content: "";
    background: url("/Images/Background/BgImg-1.png");
<<<<<<< HEAD
    opacity: 0.4;
=======
    opacity: 0.6;
>>>>>>> upstream/master
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    height: 100%;
    z-index: -1;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 30px 0px;
    position: fixed;
    transition: all 800ms ease;
    z-index: 20;
}

.sidebar img {
    width: 45px;
    margin-left: 27.5px;
}
.sidebarImg {
    padding-top: 20px;
}

/* Vertical menu in sidebar  */

.vertical-menu-icon-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 21rem;
    margin-left: 20px;
}
.vertical-menu-icon {
    height: 5px;
    background-color: white;
    transition: all 400ms ease-in-out;
}

.bar-1 {
    width: 48px;
    margin-top: 0px;
}

.bar-2 {
    width: 60px;
    opacity: 1;
    transition: opacity 800ms ease-in-out;
}

.bar-3 {
    width: 56px;
}

.bar-1-change {
    transform: rotate(45deg);
    width: 48px;
    background-color: white;
}
.bar-2-change {
    display: none;
    width: 60px;
    opacity: 1;
    background-color: white;
}
.bar-3-change {
    width: 56px;
    transform: rotate(-45deg);
    background-color: white;
}

.sidebar-change {
    width: 1000px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-right: 1px solid #2483a1;
}

.sidebar-sections-container {
    display: none;
    transition: all 400ms ease;
}
.sidebar-sections-container-change {
    display: flex;
    flex-direction: column;
    margin-left: 12em;
}

.sidebar-sections-li {
    text-decoration: none;
}
.sidebar-sections-span {
    font-size: 2.5em;
    padding: 0.5rem;
    font-weight: 500;
    display: block;
    border-radius: 8px 0px 0px 8px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.sidebar-sections-span-change {
    color: rgb(255, 255, 255);
    background-color: #2483a1;
}

/* Socials in sidebar  */

.socials {
    position: absolute;
    bottom: 5%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.socials a {
    display: block;
    margin-top: 10px;
    width: 40px;
    opacity: 0.6;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    transition: background-color 300ms ease;
    transition: opacity 300ms ease;
}
.socials a img {
    display: block;
    width: 40px;
    margin-left: -9px;
    padding-left: 20px;
}

.socials a:hover {
    background-color: rgba(19, 129, 230, 0.8);
    opacity: 1;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12% 0 0 29%;
    position: relative;
}
.title {
    color: #fff;
<<<<<<< HEAD
    font-size: 144px;
=======
    font-size: 120px;
>>>>>>> upstream/master
    font-weight: 800;
}
.blue {
    color: #2483a1;
}
.subTitle {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    padding: 8px 0;
}
.subTitle2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    padding: 120px 0 32px 0;
}
.Regbtn {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: #fff;
    font-size: 18px;
    width: 160px;
    height: 50px;
    border-radius: 4px;
    text-decoration: none;
    outline: none;
    transition: background-color 300ms ease;
    transition: font-size 300ms ease;
}

.Regbtn:hover {
    background-color: #2483a1;
    border: none;
    font-size: 16px;
}

.scrollsvg {
    position: absolute;
    bottom: 60px;
    right: -350px;
}
