* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Sora", sans-serif;
}
#Prizes {
    min-width: 100%;
}

#Prizes::before {
    content: "";
    background: url("/Images/Background/BgImg-4.png");
    position: absolute;
    opacity: 0.4;
    min-width: 100%;
    height: 100%;
    z-index: -1;
}
.prizes-container {
    display: flex;
    gap: 8%;
}
.prizes-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    /* padding:2em; */
}
/* 
.prizes-image-container {
    width: 70%;
    gap: 3rem;
    display: flex;
    justify-content: center;
}

.prize-div {
    width: 80%;
    padding: 0;
    border-radius: 16px;
}

.prize-div:nth-child(1):hover {
    background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 50%,
        #878787 100%
    );
}
.prize-div:nth-child(2):hover {
    background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 50%,
        #ffb701 130.59%
    );
}
.prize-div:nth-child(3):hover {
    background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 50%,
        #ab6803 100%
    );
}
.prize-div:hover .prize-desc-span {
    opacity: 1;
}
.prize-div h1,
.prize-div span {
    display: inline;
}

.prize-div h1 {
    font-size: 2em;
    font-weight: 500;
}

.prize-div span {
    padding: 0.5em;
    font-weight: 300;
    opacity: 0.5;
}
.prize-div img {
    width: 100%;
    align-self: center;
}

.prize-desc-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.prize-desc-div h1,
.prize-desc-div span {
    color: white;
} */

/* For highlighter */
/* .prize-desc-highlighter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
} */

.prizes-image-container {
    width: 80%;
    gap: 2.5rem;
    display: flex;
    justify-content: center;
}

.prize-div {
    width: 80%;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 10px #2483a1;
    background-color: rgb(20, 20, 20);
}

.prize-div:nth-child(1):hover {
    background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 50%,
        #878787 100%
    );
    box-shadow: 0 0px 10px #878787;
}
.prize-div:nth-child(2):hover {
    background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 50%,
        #ffb701 130.59%
    );
    box-shadow: 0 0px 10px #ffb701;
}
.prize-div:nth-child(3):hover {
    background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 50%,
        #ab6803 100%
    );
    box-shadow: 0 0px 10px #ab6803;
}
.prize-div:hover .prize-desc-span {
    opacity: 1;
}
.prize-div h1,
.prize-div span {
    display: inline;
}

.prize-div h1 {
    font-size: 2em;
    font-weight: 500;
}

.prize-div span {
    font-size: 1.25em;
    font-weight: 500;
    opacity: 0.5;
    padding: 0.5em 0;
}
.prize-div img {
    width: 100%;
    align-self: center;
}

.prize-desc-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.25em 0.5em 0.5em 0.5em;
}

.prize-desc-div h1,
.prize-desc-div span {
    color: white;
}

/* .secondPrize {
    margin-right: 50px;
} */
