body {
    cursor: none;
}
<<<<<<< HEAD

.cursor {
    width: 28px;
    height: 28px;
    border: 2px solid #2483a1;
    z-index: 50;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.inner-circle {
    width: 6px;
    height: 6px;
    background-color: white;
    z-index: 50;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    pointer-events: none;
    transition-timing-function: ease-out;
}
.cursor-sidebar-change {
    z-index: 40;
}
.cursor-change {
    width: 28px;
    height: 28px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
=======
.cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    z-index: 600;
    pointer-events: none;
}

.cursor-text {
    transform: translateX(8px);
    width: 80%;
    font-size: 10px;
    /* line-height: 190%; */
    color: white;
    font-weight: 400;
    opacity: 0.9;
}

.change-cursor {
    width: 30px;
    height: 30px;
    display: block;
    border: 0.5px solid white;
    position: absolute;
    border-radius: 50%;
>>>>>>> upstream/master
    z-index: 600;
    pointer-events: none;
}

<<<<<<< HEAD
.cursor-change::after {
    content: "";
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 600;
    pointer-events: none;
    animation: cursorAnim 0.5s infinite alternate;
}

.inner-circle-change {
    display: none;
}

@keyframes cursorAnim {
=======
/* .change-cursor::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 8px solid rgb(6, 117, 190);
    border-radius: 50%;
    opacity: 0.5;
    top: 2px;
    left: 2px;
    animation: cursorAnim2 0.5s infinite alternate;
}
@keyframes cursorAnim2 {
>>>>>>> upstream/master
    from {
        transform: scale(1);
    }
    to {
<<<<<<< HEAD
        transform: scale(0.5);
    }
}
=======
        transform: scale(0.6);
    }
} */

.change-text {
    display: none;
    transform: translateX(0px);
    width: 0%;
    line-height: 0%;
    color: white;
    font-weight: 0;
    opacity: 0;
}
>>>>>>> upstream/master
