#Prizes {
    min-width: 120%;
    /* z-index: -2; */
}

#Prizes::before {
    content: "";
    background: url("https://wallpaperaccess.com/full/1189379.png");
    opacity: 0.1;
    position: absolute;
    min-width: 120%;
    height: 100%;
    z-index: -5;
}
.prizes-title-special{
    color: #fff;
    font-size: 70px;
    font-family: "Sora", sans-serif;
    font-weight: 800;
    position: relative;
}
.prizes-title-special::after {
    content: "";
    height: 8px;
    border-radius: 0px;
    width: 50%;
    background-color: #2483a1;
    position: absolute;
    bottom: 0;
    right: 0px;
    top: 1.2em;
}
.special-container {
    width: 100%;
    padding: 4rem;
}
.special-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special-image-container {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.special-image-row1-container {
    display: flex;
    gap: 10rem;
}
.special-image-row2-container {
    display: flex;
    gap: 5rem;
}