* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Sora", sans-serif;
}
#SpecialPrizes {
    min-width: 100%;
    /* z-index: -2; */
}

#SpecialPrizes::before {
    content: "";
    background: url("/Images/Background/BgImg-5.png");
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    height: 100%;
    z-index: -1;
}

.special-container {
    width: 100%;
    padding: 2.5rem;
}
.special-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special-image-container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.special-image-row1-container,
.special-image-row2-container {
    display: flex;
    gap: 10rem;
}

.special-card-container {
    /* background: #111; */
    width: 250px;
    height: 225px;
    border-radius: 16px;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    border: 0;
    outline: 0;
    box-shadow: 0 0px 8px #1579d6;
}

.special-card-container::before {
    content: "";
    position: absolute;
    border: 2px solid #1579d6;
    top: 0;
    left: 0;
    display: block;
    background: #1579d6;
    border-radius: 8px;

    z-index: 2;
    transition: all 0.8s ease-in-out;
    opacity: 0;
}
.special-card-container:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.special-card-container img {
    margin-top: 10px;
    width: 50%;
    object-fit: cover;
    position: absolute;
}
.special-card-container .special-desc-div-front {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.special-desc-div-front p {
    text-align: center;
}

.special-title {
    font-size: 1em;
    font-weight: 600;
    padding: 1rem;
}

.special-text {
    opacity: 0.9;
}
.special-card-container:hover .special-desc-div-front {
    opacity: 1;
    transform: translateY(0px);
}
