#Sponsors {
    min-width: 100%;
}
#Sponsors::before {
    content: "";
    background: url("/Images/Background/BgImg.svg");
    /* rotate: 180deg; */
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    min-width: 100%;
    height: 100%;
    z-index: -1;
}
.sponsor-container {
    width: 100%;
    padding: 2.5rem;
}
.sponsor-content-container {
    width: 100%;
    display: flex;
    gap: 5.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.showcase marquee {
    width: 35%;
    padding: 20px 0px;
    /* background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%); */
    background: #4ca1af; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #3185d3,
        #1579d6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #3185d3,
        #1579d6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 48px;
}

.showcase marquee img {
    margin-left: 6rem;
}

.bottom-stick-images {
    margin-bottom: 5rem;
}

@media only screen and (max-width: 1200px) {
    .showcase {
        margin-top: 30px;
    }
    .showcase marquee {
        padding: 20px 15px;
        width: 55%;
    }
}
