<<<<<<< HEAD
#Tracks {
=======
#Tracks{
>>>>>>> upstream/master
    min-width: 100%;
}
#Tracks::before {
    content: "";
    background: url("/Images/Background/BgImg-3.png");
<<<<<<< HEAD
    opacity: 0.4;
=======
    opacity: 0.6;
>>>>>>> upstream/master
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;
<<<<<<< HEAD
    z-index: -1;
}

.tracks-container {
    width: 100%;
    padding: 2.5rem;
}
.tracks-content-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.tracks-image-container {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}

.tracks-image-container img {
    width: 18%;
    display: inline;
}

.tracks-image-row1-container,
.tracks-image-row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8rem; */
=======
    z-index: -5;
}
.track-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 8%;
}
.TrackTitle{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}
.TrackTitle h1{
    color: #fff;
    font-size: 70px;
    font-family: "Sora", sans-serif;
    font-weight: 900;
    position: relative;
}
.TrackTitle h1::after {
    content: "";
    height: 8px;
    border-radius: 0px;
    width: 50%;
    background-color: #2483a1;
    position: absolute;
    bottom: 0;
    right: 0px;
    top: 1.35em;
}
.TrackContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
>>>>>>> upstream/master
}
