#Tracks {
    min-width: 100%;
}
#Tracks::before {
    content: "";
    background: url("/Images/Background/BgImg-3.png");
    opacity: 0.4;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    height: 100%;
    z-index: -1;
}

.tracks-container {
    width: 100%;
    padding: 2.5rem;
}

.trackTitle{
    font-size: 80px;
    padding-bottom: 10px;
}

.tracks-content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.tracks-image-container {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
}

.tracks-image-container img {
    width: 18%;
    display: inline;
}

.tracks-image-row1-container,
.tracks-image-row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 8rem; */
}
@media only screen and (max-width: 1000px) {
    .tracks-image-container {
        padding-top: 8%;   
    }
    .tracks-image-container img {
        width: 22%;
        display: inline;
    }
}